{% extends 'index.html' %}

{% block content %}

    <p style="padding-top: 3%">Милые одноклассницы, поздравляем вас с 8 Марта! Желаем солнечного настроения,
        радужной жизни,
        сверкающих перспектив, крепкого здоровья, весенней душевной легкости и море любви! Пусть
        получается всё задуманное, легко преодолеваются препятствия, радуют свежие впечатления и
        случается только хорошее. Будьте самыми красивыми и самыми счастливыми всегда!
        В честь праздника мы подготовили для вас небольшой квест. <a href="/rules">Правила</a>
    </p>
    <form method="post">
        <input type="text" placeholder="Твое имя из Вконтакте" name="text">
        <input type="submit" value="Начать" class="btn btn-primary" name="btn">
    </form>

{% endblock %}